In [1]:
import pandas as pd

df = pd.read_csv('home_prices.csv')

df.head()

   area_sqr_ft  bedrooms color  price_lakhs
0         3774         2   Red          216
1         1460         3  Gray           88
2         1894         4  Gray          147
3         1730         2  Blue           84
4         1695         1  Blue           77

In [2]:
df.shape

(300, 4)

In [3]:
df.color.value_counts()

color
Gray      62
Blue      54
Red       51
Yellow    46
Green     45
White     42
Name: count, dtype: int64

In [5]:
df_encoded = pd.get_dummies(df, columns=['color'], drop_first=True)
df_encoded

,area_sqr_ft,bedrooms,price_lakhs,color_Gray,color_Green,color_Red,color_White,color_Yellow
0,3774,2,216,False,False,True,False,False
1,1460,3,88,True,False,False,False,False
2,1894,4,147,True,False,False,False,False
3,1730,2,84,False,False,False,False,False
4,1695,1,77,False,False,False,False,False
...,...,...,...,...,...,...,...,...
295,2402,4,163,False,False,False,False,False
296,3120,3,189,True,False,False,False,False
297,2569,5,185,False,True,False,False,False
298,2798,4,174,False,False,True,False,False
299,2038,5,162,False,False,False,False,False

In [7]:
cm = df_encoded.corr()

In [10]:
cm_price = abs(cm["price_lakhs"])
cm_price

area_sqr_ft     0.945365
bedrooms        0.439445
price_lakhs     1.000000
color_Gray      0.040565
color_Green     0.041959
color_Red       0.045803
color_White     0.051122
color_Yellow    0.046673
Name: price_lakhs, dtype: float64

In [11]:
cm_price[cm_price > 0.2]

area_sqr_ft    0.945365
bedrooms       0.439445
price_lakhs    1.000000
Name: price_lakhs, dtype: float64

In [12]:
selected_features = cm_price[cm_price > 0.2].index.drop('price_lakhs')
selected_features

Index(['area_sqr_ft', 'bedrooms'], dtype='object')

In [13]:
X = df_encoded[selected_features]
y = df_encoded['price_lakhs']

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

mse, r2

(np.float64(76.63332198278808), 0.9689466488379601)