In [1]:
import pandas as pd

df = pd.read_csv("regression_home_prices.csv")
df

     area_sqr_ft  price_lakhs  bedrooms
0          656.0         39.0         2
1         1260.0         83.2         2
2         1057.0         86.6         3
3         1259.0         59.0         2
4         1800.0        140.0         3
..           ...          ...       ...
195       1412.0         71.0         2
196       1140.0         67.0         2
197       1501.0         80.0         2
198       1408.0         69.0         2
199       1198.0         56.0         2

[200 rows x 3 columns]

In [2]:
from sklearn.model_selection import train_test_split

X = df.drop("price_lakhs", axis=1)
y = df["price_lakhs"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

In [14]:
from sklearn.ensemble import VotingRegressor
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

lr = LinearRegression()
ridge = Ridge(alpha=1.0)
dt = DecisionTreeRegressor()

vr = VotingRegressor(estimators=[
    ("lr", lr),
    ("ridge", ridge),
    ("dt", dt)
])

vr.fit(X_train, y_train)
score = vr.score(X_test, y_test)
print(score)

0.8703408590795081